<!-- 
Title: _footer.ejs (https://github.com/buwebdev/web-340/blob/master/week-5/fms/views/partials/_footer.ejs)
Author: Richard Krasso 
Date: 2/5/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->

<footer>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>

</footer>

</body>
</html>
