<!-- 
Title: about.ejs (https://github.com/buwebdev/web-340/blob/master/week-5/fms/views/about.ejs)
Author: Richard Krasso 
Date: 2/5/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->


    <%- include('./partials/_header.ejs') %>

    <section class="container">
      <div class="card center-div">
        <div class="card-title"><%= pageTitle %></div>

        <div class="card-content">
          
          <p>
            A well groomed pet is a happy pet – and a very happy owner! 
          </p>
          
          <p>
            We take pride in helping your pets look (and smell!) their very best. We are well versed in dog and cat breed grooming standards. We will groom to breed standards by default, but are more than happy to customize their look to your preferences. 
          </p>
          
          <p>
            In fact, several of our clients’ pets have performed very competitively in AKC competitions, and we’ve heard from these owners that the grooming we provided was a note by the competition judges. (Yes, we are proud.) 
          </p>
          
          <p>
            Many grooming services are also important for a healthy pet. All of our groomers have been vet trained to provide these services to the highest standards. These range from nail trimming to anal gland expression (yes, it’s a thing for some breeds and, yes, you very likely don’t want to do it). We are also trained to spot issues that even an attentive, loving owner might overlook. If we do notice any such issues, we will be sure to let you know so you can take an appropriate course of action. 
          </p>
          
          <p>
            We offer a comprehensive range of services. See prices for some of our most popular services below. Have something else in mind? Give us a call. If it is good for your pet and you can describe it, we have almost certainly done it. 
          </p>
          
        </div>
      </div>
    </section>

    <section class="container">
      <div class="card center-div">
        <div class="card-title">Select Services and Fees</div>

        <div class="card-content">
          

          
          <table style="border-spacing: 20px">
            <tr>
              <td>
                Hand-Scissor Groom, Wash and Dry  
              </td>
              <td>
                $80 per hour
              </td>
            </tr>
            <tr>
              <td>
                De-Matting and/or Heavy Undercoat Removal  
              </td>
              <td>
                $60 per hour
              </td>
            </tr>
            <tr>
              <td>
                Eye Cleaning & Eye Area Trim
              </td>
              <td>
                $10
              </td>
            </tr>
            <tr>
              <td>
                Ear Cleaning   
              </td>
              <td>
                $5
              </td>
            </tr>
            <tr>
              <td>
                Ear Cleaning & Hand Plucking of Hair  
              </td>
              <td>
                $12
              </td>
            </tr>
          </table>
          
        </div>
      </div>
    </section>

    <%- include('./partials/_footer.ejs') %>
  </body>
</html>
