<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Google fonts for Oswald -->
    <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/site.css" />
</head>

  <body>
   
<section class="navbar">
    <a href="/">Home</a>
    <a href="/grooming">Grooming</a>
</section>



<section class="container">
    <h1 class="center-text">Welcome to the FMS Landing Page!</h1>
    <div class="card center-div">
        <div class="card-title">Locations</div>
        <div class="card-content">
        
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pellentesque sem, 
                sit amet iaculis turpis. Nunc venenatis, quam eget pulvinar ornare, risus magna dapibus enim, 
                vitae varius tortor nibh nec urna. Phasellus vel ipsum lorem. In risus nisi, auctor id malesuada vitae, 
                egestas volutpat nulla. Quisque id erat tempus, posuere felis maximus, mattis nunc. Mauris orci leo, 
                laoreet a quam vitae, malesuada condimentum turpis. Nulla a tellus tortor. Etiam sit amet ipsum mauris. 
                Vestibulum nulla velit, pharetra at tellus sed, tristique auctor odio. Fusce ornare felis quis dolor mattis, 
                ac mollis velit porta. Integer quis faucibus orci. Morbi maximus neque non rutrum semper. 
                Aenean vehicula lectus pharetra rutrum vulputate. In tincidunt ex ornare, scelerisque lorem in, 
                suscipit mi. Morbi viverra tortor id libero posuere, eu mattis leo interdum. Pellentesque porttitor 
                sed mi iaculis maximus.
            </p>
        </div>
    </div>

    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Location Hours</div>
        <div class="card-content">
            <br />
            <p>
                Mon 6:00AM–8:00PM
                Tues 6:00AM–8:00PM  
                Wed 6:00AM–8:00PM  
                Thurs 6:00AM–8:00PM
                Fri 6:00AM–8:00PM  
                Sat 8:00AM–6:00PM 
                Sun 8:00AM–6:00PM  
                
            </p>
        </div>
    </div>
<section>

    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Dog of the Week</div>
        <div class="card-content">
            <br />
            <p>
                Mon 6:00AM–8:00PM
                Tues 6:00AM–8:00PM  
                Wed 6:00AM–8:00PM  
                Thurs 6:00AM–8:00PM
                Fri 6:00AM–8:00PM  
                Sat 8:00AM–6:00PM 
                Sun 8:00AM–6:00PM  
                
            </p>
        </div>
    </div>
<section>


    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Testimonials</div>
        <div class="card-content">
            <br />
            <p>
                Mon 6:00AM–8:00PM
                Tues 6:00AM–8:00PM  
                Wed 6:00AM–8:00PM  
                Thurs 6:00AM–8:00PM
                Fri 6:00AM–8:00PM  
                Sat 8:00AM–6:00PM 
                Sun 8:00AM–6:00PM  
                
            </p>
        </div>
    </div>

    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Contact Us</div>
        <div class="card-content">
            <br />
            <p>
                Mon 6:00AM–8:00PM
                Tues 6:00AM–8:00PM  
                Wed 6:00AM–8:00PM  
                Thurs 6:00AM–8:00PM
                Fri 6:00AM–8:00PM  
                Sat 8:00AM–6:00PM 
                Sun 8:00AM–6:00PM  
                
            </p>
        </div>
    </div>


<footer>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>

</footer>
  </body>
</html>
