<!-- 
Title: about.ejs (https://github.com/buwebdev/web-340/blob/master/week-5/fms/views/about.ejs)
Author: Richard Krasso 
Date: 2/5/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->


    <%- include('./partials/_header.ejs') %>

    <section class="container">
      <div class="card center-div">
        <div class="card-title">Welcome!</div>
        <div class="card-content">
          <p>
            Do you love your pet? So do we! We started our business in 1996 because we loved animals and Pets-R-Us has grown since then fueled by that same passion for enabling you to be the best pet owner you can be. 
          </p>

          <p>
              Some are content with the large chains. But for those who want the very best in quality products and services, Pets-R-Us soon becomes their home. 
            </p>

            <p>
                If you would like, bring your well behaved pets with you to our stores as you shop. We would love to meet them. Your pet is not well behaved? We understand, and we can help you with that as well. Our training services, just like our grooming and boarding services, have become well known throughout the Mid-Atlantic Region for the results that we achieve.
            </p> 

             <p>
                 So if you haven’t visited us yet, come on over. We are the partners you need to deliver the very best for the pets you love. 
            </p>   
        </div>
      </div>

      <br /><br /><br />
      <div class="card center-div">
        <div class="card-title">Locations</div>
        <div class="card-content">
          <br />
          
            <p>
              3000 Washington Drive, Falls Church VA 22042 
            </p>
            <p>
                4000 Lincoln Street, Fairfax, VA 22088
            </p>
          
        </div>
      </div>
      <section>
        <br /><br /><br />
        <div class="card center-div">
          <div class="card-title">Location Hours</div>
          <div class="card-content">
            <br />
            <table>
                <tr>
                    <td>Mon</td>
                    <td> 6:00AM–8:00PM</td>
                </tr>
                <tr>
                    <td>Tues</td>
                    <td> 6:00AM–8:00PM </td>
                </tr>
                <tr>
                    <td>Wed</td>
                    <td>6:00AM–8:00PM</td>
                </tr>
                <tr>
                    <td>Thurs</td>
                    <td>6:00AM–8:00PM </td>
                </tr>
                <tr>
                    <td>Fri</td>
                    <td> 6:00AM–8:00PM  </td>
                </tr>
                <tr>
                    <td>  Sat</td>
                    <td> 8:00AM–6:00PM</td>
                </tr>
                <tr>
                    <td>  Sun</td>
                    <td> 8:00AM–6:00PM </td>
                </tr>
            </table>
            
          </div>
        </div>
        <section>
          <br /><br /><br />
          <div class="card center-div">
            <div class="card-title">Dog of the Week</div>
            <div class="card-content">
              <br />
              <p>
                Spanish Water Dog The Spanish Water Dog is widely regarded as
                one of the most intelligent of dog breeds recognized by the
                American Kennel Club. Breed in Spain as a working dog, it was
                historically used both for sheep herding and to assist
                commercial fishermen.
              </p>
            </div>
          </div>
          <section>
            <br /><br /><br />
            <div class="card center-div">
              <div class="card-title">Testimonials</div>
              <div class="card-content">
                <br />
                <p>
                  “Pets-R-Us has only the best products and services. More
                  important to me, they clearly love what they do and the dogs
                  they care for.” 
                  <br>
                  – Jane Smith, Arlington 
                </p>
                
                <p>    
                  “I used to go to the
                  big box stores, but now I won’t go anywhere other than
                  Pets-R-Us. Their prices are competitive and their wisdom is
                  priceless. If you love your pet, you’ll love Pets-R-Us.”
                  <br> 
                  –John Jones, Annandale
                </p>
                
              </div>
            </div>
            <section></section>
            <br /><br /><br />
            <div class="card center-div">
              <div class="card-title">Contact Us</div>
              <div class="card-content">
                <p>
                    We want to hear from you! Please call us at 703-333-0000 or, if you prefer, fill out the form below and we’ll respond as soon as we can
                </p>
                <form action="">
                    <br>
                    <label for="name">Full Name:</label>
                    <input type="text" name="name" placeholder="full name">
                    <br>
                    <br>
                    <label for="phone">Phone Number:</label>
                    <input type="text" name="phone" placeholder="phone number">
                    <br>
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" name="email" placeholder="email">
                    <br>
                    <br>
                    <label for="subject">How can we help you?:</label>
                    <br>
                    <textarea id="subject" name="subject" style="height:150px; width: 350px;"></textarea>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                <br>
              </div>
              </div>
            </div>

            <%- include('./partials/_footer.ejs') %>
          </section>
        </section>
      </section>
    </section>
  </body>
</html>
