<!-- 
Title: my-orders.ejs (https://github.com/buwebdev/web-340/blob/master/week-9/fms/views/my-orders.ejs)
Author: Richard Krasso 
Date: 3/4/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->

<!-- the header partial used on all pages -->
<%- include('./partials/_header.ejs') %>
<section>
  <br />
  <div class="card center-div">
    <div class="card-title">Appointment Lookup Form</div>

    <!-- Asks for the user's email -->
    <div class="card-content">
      <div class="form full-width">
        <div class="form-field">
          <label for="email">Email</label><br />
          <input
            type="text"
            class="input full-width"
            name="email"
            id="email"
            required
          />
        </div>

        <!-- uses the email to search for appointments -->
        <div class="form-field">
          <input
            type="submit"
            value="Search"
            id="search"
            class="btn btn-primary full-width"
          />
        </div>
      </div>
      <div class="center-div" id="appointments"></div>
    </div>
  </div>
</section>
<br /><br /><br /><br /><br /><br />

<script>
  //   document.getElementById("search").onclick = function () {
  const btnSearch = document.querySelector("#search");

  btnSearch.addEventListener("click", () => {
    const email = document.querySelector("#email").value;
    // Creates table and populates it with the appointments
    // The appointments used are only the ones that match the submitted email
    fetch("/api/appointments/" + email)
      .then((res) => res.json())
      .then((data) => {
        let tableString = `<br /><h4 style="font-size: 32px; text-align: center; padding-bottom: 10px; font-weight: lighter">My Appointments</h4><table id="appointments" style="width: 100%;" class="table full-width"><tr><th>User Name</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Service Option</tr></tr>`;
        for (let appointment of data) {
          tableString += `<tr><td>${appointment.userName}</td><td>${appointment.firstName}</td><td>${appointment.lastName}</td><td>${appointment.email}</td><td>${appointment.service}</td></tr>`;
        }

        tableString += `</table>`;

        document.querySelector("#appointments").innerHTML = tableString;
      });
  });
</script>

<!-- the footer partial used on all pages -->
<%- include('./partials/_footer.ejs') %>
