<!-- 
Title: about.ejs (https://github.com/buwebdev/web-340/blob/master/week-5/fms/views/about.ejs)
Author: Richard Krasso 
Date: 2/5/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->

 <%- include('./_header.ejs') %>

    <section class="container">
      <div class="card center-div">
        <div class="card-title"><%= pageTitle %></div>

        <div class="card-content">


          <p>
              We train dogs. In fact, we love training dogs. 
          </p>

          <p>
            A well trained dog can make all the difference in maintaining a sustained, loving and enjoyable relationship between a dog and its owner. The satisfaction we feel when we are part of strengthening that bond is difficult to describe. It makes it one of the most rewarding aspects of our business. 
          </p>

          <p>
            We specialize in two areas of training. The first is basic through advanced training for everyday living. Did you know that a well trained dog should be able to maintain a ‘stay’ where you indicate for at least thirty minutes, despite distractions such as visiting guests, until you release her? Hard to believe? We can make it happen, if you partner with us to reinforce our lessons at home. 
          </p>       

          <p>
            Our second area of training for select clients is agility training that we do in partnership with White Oats Stables in Great Falls, VA. Agility training requires serious commitment from the owner as well. But for those who pursue it, they tell us it can be the most rewarding hobby they have ever enjoyed. 
          </p>

          
        </div>
      </div>

      <br /><br /><br />
      <div class="card center-div">
        <div class="card-title">Meet Our Senior Trainers
        </div>

        <div class="card-content">

<br>
          <p>
            <strong> Larry Reynolds, Owner and Senior Trainer </strong>
          </p>
          <p>
            Larry is the founder with his wife, Dawn, of Pets-R-Us. Since he’s the boss and probably should be retired, he unapologetically spends his time on what he loves most, and that’s dog training. We won’t bore you with the credentials Larry has amassed as both a student and much sought after instructor. Been there, done that. At this stage of life, what really matters to Larry is spending time with dogs and their owners, and training is the best opportunity for him to do both. 
          </p>
<br>
          <p>
           <strong> Katherine Reynolds, Training Coordinator</strong>
        </p>
        <p>
          For the Reynolds, dog training is a family affair. Katherine, Larry’s daughter, grew up training dogs and has always been told she has a knack for it. Many owners of dogs across the region wholeheartedly agree. 
        </p>

          
        </div>
      </div>
      <br /><br /><br />
      <div class="card center-div">
        <div class="card-title">Pricing schedule</div>
        <div class="card-content">

        <p>
          For obedience training we provide training services based on courses that consist of a one-month and a three-month course. Owners are able to sign up for one training per week subject to availability. Agility training is priced separately and only for dogs that can demonstrate an advanced level of obedience. 
        </p>

          <table style="border-spacing: 20px">
            <tr>
              <td>Dog
              </td>
              <td>One Month Contract
                4 Sessions                
              </td>
              <td>Three Month Contract
                12 Sessions                
              </td>
            </tr>
            <tr>
              <td>Puppy 
              </td>
              <td>$80
              </td>
              <td>$200
              </td>
            </tr>
            <tr>
              <td>Adolescent
              </td>
              <td>$100
              </td>
              <td>$250
              </td>
            </tr>
            <tr>
              <td>Adult
              </td>
              <td>$120
              </td>
              <td>$300
              </td>
            </tr>
          </table>

        

          
        </div>
      </div>
    </section>

    <%- include('./_footer.ejs') %>
  </body>
</html>
